.gradle
.idea

# Gradle build folders
/build
/application/build
/application/common/build
/application/core/build
/application/springboot/build

# frontend releated ignores
/application/frontend/dist
/application/frontend/node_modules

/node
/application/springboot/node
/application/springboot/.gradle
/application/springboot/src/main/resources/static
